<!-- Div table 82% centered -->
<div class="mainTable">

    <span class="resultsHeader">Google Maps Results:</span>
    <!-- Google Map results -->
    <div #map id="map"> </div>

    <!-- FBI Crime API results -->
    <div *ngFor = "let crime of crime_list" id="details">
      <span class="resultsHeader">Crime Statistics for {{crime.state}} ({{crime.year}}):</span>
      <p>Violent Crimes: {{crime.violent_crime}} </p>
      <p>Homicides: {{crime.homicide}} </p>
      <p>Robberies: {{crime.robbery}} </p>
      <p>Aggravated Assaults: {{crime.aggravated_assault}} </p>
      <p>Property Crimes: {{crime.property_crime}} </p>
      <p>Burglaries: {{crime.burglary}} </p>
      <p>Motor Vehicle Thefts: {{crime.motor_vehicle_theft}} </p>
    </div>

</div>
