/* MAIN container; 82% centered. */
.mainTable {
  height: 100%;
  width:100%;
  margin:auto;
}

/* Header CSS */
.resultsHeader {
  text-align: center;
  font-family: "Arial Narrow";
  color: white;
  font-weight: bolder;
  font-size: 25px;
}

#Title {
  text-align: center;
  font-size: 35px;
  font-family: "Arial Narrow";
  color:white;
}

/* Google Map */
#map{
  height: 1000px !important;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* CSS details following Header */
#details {
  font-family: "Arial Narrow";
  color: white;
}

