/* MAIN container; 82% centered. */
.mainTable {
  height: 100%;
  width:100%;
  margin:auto;
}

#Title {
  height: 75px;
  font-weight: bold;
  font-family: "Arial Rounded MT Bold", serif;
  font-size: 50px;
  background: #343A40;
  color: white;
  text-align: center;
}

/* Google Map */
#map{
  height: 1000px !important;
  border: 1px solid;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* CSS details following Header */
#details {
  font-family: "Arial Narrow";
  color: white;
}

