/* MAIN container; 82% centered. */
.mainTable {
  height: 100%;
  width:100%;
  margin:auto;
  alignment: center;
}

/* Header CSS */
.resultsHeader {
  font-family: "Arial Narrow";
  color: black;
  font-weight: bolder;
  font-size: 25px;
}

/* Google Map */
#map{
  height: 1000px !important;

}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* CSS details following Header */
#details {
  font-family: "Arial Narrow";
  color: cadetblue;
}

