<div class="mainTable">
  <!-- About Information on Safe Home Finder -->
  <div class="textHeader">About Us</div>
  <div class="textBox">
    <img src="\assets\FamilyMovingIN.jpg" id="image" alt="Safe Home Finder Logo" align="left">
    <p>The Safe Home Finder site provides a service for those who are looking to purchase a forever
      place to call home in the Kansas City Metro area.<p>
    <p>Our site will provide users with access to the current real estate market, latest accurate crime
      statistics from KCPD, and the nearest public/private school data. To use the application, users will
      provide location input (address, city, state, zip), and our application will retrieve data directly
      from Realtor, Socrata, Google Maps, and Great Schools.</p><br>
    <p>To begin using our application, users must create an account. Once an account has been created, user can
      search for houses in the current housing market.</p><br>
  </div>
  <div class="textHeader">Get Started</div>
  <div class="textBox2">
    <p><img src="assets/login.png" alt="sign up for account" align="right">
    Create an account by clicking "Log in" located at the top of the navigation bar.</p>
    <p>Enter in a valid email address and a password. </p>
    <p>Users will then be redirected to the account profile page.</p>
    <p>Users will have the ability to change their password and have quick access to any favorited houses.</p><br>
    <p><img src="assets/Search.png" alt="search for houses" align="right">
    To begin a search, click "Search" located at the top of the navigation bar.</p>
    <p>Type in a valid address line OR city, state, zip code. </p>
    <p>The most recent 15 houses on the market will populate on Google Maps with markers.</p>
    <p>Users can hover over the markers to display the house price, image, address, number of bedrooms, and number of baths.</p>
    <p>To view more details on the house, users can click on the house marker.</p>
    <p><img src="assets/HouseDet.png" alt="house details" align="right">
    <br>By clicking on a house, users will then have access to:</p>
    <li>House details.</li><br>
    <li>Crime statistics in 2020 for that zip code.</li><br>
    <li>Similar houses.</li><br>
    <li>Top 5 nearest schools.</li><br>
    <li>Ability to add that house to their favorites list to access at a later time.</li>
  </div>
</div>
