<div class="mainTable">
  <!-- About Information on Safe Home Finder -->
  <div class="textHeader">About Us</div>
  <div class="textBox">
    <img src="\assets\FamilyMovingIN.jpg" id="image" alt="Safe Home Finder Image" align="left">
    <p>The Safe Home Finder site provides a service for those who are looking to purchase a forever
      place to call home in the Kansas City Metro area.<p>
    <p>Our site will provide users with access to the current real estate market, latest accurate crime
      statistics from KCPD, and the nearest public/private school data. To use the application, users will
      provide location input (address, city, state, zip), and our application will retrieve data directly
      from Realtor, Socrata, Google Maps, and Great Schools.</p><br>
    <p>Users are able to create an account for easier access to saved houses. If users decide to opt
      out on an account, they are still able to use our application.</p><br>
  </div>
  <div class="textHeader">User Guide</div>
  <div class="textBox">
    <p>To search for a houses that are currently on the KCMO market, click "Search".</p>
  </div>
</div>
