
  <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="\assets\project_logo.jpg" width="80%" />
    </a>

    <button class="navbar-toggler" type="button"
            (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse"
         [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active">Home</a>
        </li>

        <li *ngIf="user$|async" class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active">Search</a>
        </li>

        <li *ngIf="user$|async" class="nav-item">
          <a class="nav-link"  (click)="logout()" *ngIf="authService.user | async" routerLinkActive="active">Log Out</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="login" routerLinkActive="active">Log in</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active">About</a>
        </li>

        <li *ngIf="user$|async" class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active">Profile</a>
        </li>
      </ul>
    </div>
</nav>
  <!-- <img src="\assets\project_logo.jpg" width="50%" /> -->
  <!-- <a class="nav-link" routerLink="home" routerLinkActive="active">Search</a> -->
  <!-- <a class="nav-link" routerLink="" routerLinkActive="active">Log Out</a> -->
