<div class="container">
  <div class="row">
    <div class="col-md-12">

      <!-- Navbar -->
      <div class="container">
        <div class="row">
          <div class="navbar navbar-inverse navbar-fixed-top" style="width:100%">
            <a href="home.component.html">
              <img src="\assets\project_logo.jpg" width="50%" />
            </a>
            <div class="col-sm-3">
              <br />
              <button type="button" data-toggle="collapse" data-target=".nav-collapse" style="background-color:transparent; color:white; border-color:transparent; font-family:Helvetica">
                ▼ Navigation
              </button>
            </div>
            <div class="col-sm-6" style="width:10%">
              <ul class="nav navbar-nav" style="border-left:4px solid white">
                <li class="active"><a style="color:white" href="#">Home</a></li>
                <li><a style="color:white" href="#">Search</a></li>
                <li><a style="color:white"href="#">Log Out</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>


      <router-outlet></router-outlet>
    </div>
  </div>
</div>




