<div class="container">
  <div class="row">
    <div class="col-md-12">

      <!-- Navbar -->
      <!--If the url is /login it navbar will be ignored          -->
      <div *ngIf="ShowFlag" class="container">
        <div class="row">
          <div class="navbar navbar-inverse navbar-fixed-top" style="width:100%">
            <a href="home.component.html">
              <img src="\assets\project_logo.jpg" width="20%" />
            </a>
            <div>
              <br />
              <button type="button" data-toggle="collapse" data-target=".nav-collapse" style="background-color:transparent; color:white; border-color:transparent; font-family:Helvetica">
                ▼ Navigation
              </button>
            </div>
            <div style="width:10%">
              <nav>
                <ul class="nav navbar-nav" style="border-left:4px solid white; color: white;">
                  <li><a routerLink="home" routerLinkActive="active" style="color:white" href="#">Search</a></li>
                  <li><a routerLink="" routerLinkActive="active" style="color: white" href="#">Log Out</a></li>
                </ul>
            </nav>
            </div>
          </div>
        </div>
      </div>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>




