/* MAIN container; 82% centered. */
.mainTable {
  color: white;
  height: 100%;
  width:100%;
  margin:auto;
  align-items: center;
}

#Title {
  height: 75px;
  font-weight: bold;
  font-family: "Arial Rounded MT Bold", serif;
  font-size: 50px;
  background: #343A40;
  color: white;
  text-align: center;
}

.resultsHeader {
  font-size: 20px;
  font-weight: bold;
  color: #ba82a8;
}

.searchTable{
  padding: 25px 25px 25px 25px;
  border-style: none;
  background-color:#ba82a8;
  font-size: 20px;
}

.btn{
  color: white;
  background-color: #343A40;
}

#inputSize {
  min-width: 500px;
}

.searchResults {
  display: flex;
}

.searchResults .column1 {
  flex: 50%;
}

.searchResults .column2 {
  flex: 50%;
}

.searchResults .crimeReport {
  flex: 100%;
}
/*necessary to show google map to the page*/
agm-map {
  height: 500px;
}

