
<div id="Title">
  Search 
</div>


<div class="mainTable">
    <!-- User Input Fields -->
    <fieldset class="searchTable">
      <div class="container">
        <label for="address"> Address:</label><input #addressInput required id="address" type="text" name="address" id="inputSize"> <br>
        <label for="city"> City:</label><input #cityInput required id="city" type="text" name="city" > (e.g. Kansas City) <br>
        <label for="state"> State:</label> <input #stateInput required id="state" type="text" name="state"> (e.g. MO) <br>
        <label for="zipcode"> Zipcode:</label><input #zipcodeInput required id="zipcode" type="text" name="zipcode"> (e.g. 12345) <br>
        <button routerLink="/map" (click)="getSearchResults()" class="btn btn primary col-lg-2 col-lg-offset-5 " type="button">Search</button>
      </div>
    </fieldset>
</div>
