/* MAIN container; 82% centered. */
.mainTable {
  height: 100%;
  width:100%;
  margin:auto;
  padding: 25px 25px 25px 25px;
  text-align: center;
}

p {
  font: normal 16px Verdana, Arial, sans-serif;
}

#Title {
  font-size: 35px;
  color: #ba82a8;
}

.resultsHeader {
  font-weight: bold;
  font-family: "Arial Rounded MT Bold", serif;
  font-size: 30px;
  background: #343A40;
  color: white;
  text-align: center;
}

.smallHeader {
  font-weight: bold;
  font-family: "Arial Rounded MT Bold", serif;
  font-size: 35px;
  background: #343A40;
  color: white;
}

.searchTable{
  padding: 25px 25px 25px 25px;
  border-style: none;
  background-color: #ba82a8;
  font-size: 20px;
}

#inputSize {
  min-width: 340px;
}

.searchResults {
  display: flex;
}

.houseResult {
  flex: 100%;
}

.houseInfo {
  color: white;
}

.column {
  flex: 80%;
}

.column1 {
  flex: 50%;
}

.column2 {
  flex: 50%;
}

.searchResults .crimeReport {
  flex: 100%;
}

.container {
  max-width: 70%;
  margin: 0 auto;
}

.similarImagesContainer {
  background: #e2e2e2;
  color: #343A40;
  border: solid #e2e2e2 2px;
  margin: 1px 5px 5px 1px;
  min-height: 200px;
}

.similarImages {
  border: solid white 1px;
  margin: 5px 5px 5px 5px;
}

.resultName {
  font-size: 20px;
  color: #ba82a8;
  text-align: center;
}

.resultName2 {
  font-size: 18px;
  color: #ba82a8;
  text-align: center;
}

.resultName3 {
  font-size: 25px;
  color: #ba82a8;
  text-align: center;
}

.resultInfo {
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
}

.houseDetail {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}
