/* MAIN container; 82% centered. */
.mainTable {
  height: 100%;
  width:82%;
  margin:auto;
  padding: 25px 25px 25px 25px;
}

#Title {
  font-size: 35px;
  font-family: "Arial Narrow";
  color: #ba82a8;
}

.resultsHeader {
  font-size: 20px;
  font-weight: bold;
  color: white;
  font-family: "Arial Narrow";
}

.smallHeader {
  font-size: 25px;
  font-weight: bold;
  color: white;
  font-family: "Arial Narrow";
}

.searchTable{
  padding: 25px 25px 25px 25px;
  border-style: none;
  background-color: #ba82a8;
  font-size: 20px;
  font-family: "Arial Narrow";
}

#inputSize {
  min-width: 340px;
}

.searchResults {
  display: flex;
}

.houseResult {
  flex: 100%;
}

.houseInfo {
  color: white;
}

.column {
  flex: 80%;
}

.column1 {
  flex: 50%;
}

.column2 {
  flex: 50%;
}

.searchResults .crimeReport {
  flex: 100%;
}

.container {
  max-width: 70%;
  margin: 0 auto;
}

.similarImagesContainer {
  color: white;
  border: solid white 2px;
  margin: 1px 5px 5px 1px;
}

.similarImages {
  border: solid white 1px;
  margin: 5px 5px 5px 5px;
}

